OPENAI_API_KEY=
OPENAI_CHAT_COMPLETIONS_MODEL="openrouter/free"
OPENAI_EMBEDDINGS_MODEL="text-embedding-ada-002"
OPENAI_BASE_URL="https://openrouter.ai/api/v1"
SUPABASE_URL=
SUPABASE_API_KEY=
SUPABASE_SERVICE_KEY=